@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

body {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--bg-base);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-btn);
  border-radius: 5px;
}

/* UTILS */
.btn-low {
  @apply rounded-md border-txt-base px-2 hover:bg-primary;
  border-width: 1px;
}
.btn-high {
  @apply rounded-md bg-primary px-2 text-txt-primary hover:scale-125 cursor-pointer;
}
.form-container {
  @apply flex justify-center items-center w-full;
  height: 60vh;
}
.form {
  @apply flex flex-col justify-center items-center p-4 rounded-md;
}
.form-title {
  @apply font-medium text-lg;
}
input {
  @apply p-2 bg-opacity-90 bg-primary;
}

.message-container {
  @apply w-full flex justify-center items-center;
  height: 60vh;
}
.message-header {
  @apply mb-2;
}
.message {
  @apply flex justify-center items-center p-4;
}
/* LOADING SPINNER */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.63);
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-bottom: 2vh;

  border-left-color: transparent;
  animation: spin 0.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
